*{
    padding: 0;
    margin: 0;
}


.background{
    background-color: black;
    width: 100%;
    height: 100%;
}

.main{
    margin-left: 16%;
    height: 2275px;
    width: 1000px;
    background-color: white;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #69b7ea;

}
.logo{
    width: 140px;
    height: 100px;

}
h2{
    color: darkblue;
    margin-top: -70px;
    margin-left: 290px;
}
p{
    color: darkblue;
    margin-top: -4px;
    margin-left: 350px;
}
.time_bar{
    background: linear-gradient(rgb(0, 0, 0),rgb(14, 97, 157));
    height: 35px;
    width: 100%;
}
.time_bar img{
    height: 28px;
    width: 28px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
.time_bar .time{
    color: white;
    top: 8px;
    position: relative;
    left: 10px;

}
.data{
    margin-top: 6px;
    background-color: white;
    max-width: 80%;

}
.data p{
    margin-left: 0;
    color: black;
    font-size: 20px;
}

.data .call{
    color: blue;
    font-size: 15px;
}






.add_h4{
    color: red;
    border: 1px black solid;
    background-color: rgba(255, 0, 0, 0.327);
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 62rem;
    margin-top: 20px;   
    
}

.add_blocks{
    background-color: #95bfdaeb;
    height: 230px;
    width: 330px;
    display: inline-block;
    overflow: hidden;

}
.add_all{
    width: 65rem;
}